@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply 
  bg-white
  text-zinc-500
  dark:text-zinc-300 
  dark:bg-zinc-800;
  transition: all 200ms ease;
}

#checkbox-wrapper {
  width: 66px;
  padding: 0 1px;  
  @apply rounded-full border;
}

#checkbox {
  opacity: 1;  
  position: absolute;    
  height: 30px;    
  left: 5px;
  z-index: 2;
  cursor: pointer;  
  border-radius: 5px;
  /* transition: all 200ms ease; */
}

#checkbox:focus-within {
  /* outline: none;   */
}


#checkbox::after {
  content: " ";
  background: chartreuse;  
  position: absolute;
  inset: 2px;  
  bottom: 3px;
  left: -3px;
  width: 26px;
  transition: all 300ms ease;
  border-radius: 20px;
  @apply 
    bg-indigo-500 
    dark:bg-indigo-400     
    shadow 
    shadow-indigo-500/50
    dark:shadow-indigo-400/50
    ;    
}

#checkbox:focus > #checkbox::after {
  outline: 1px solid red;
}


#checkbox-wrapper 
> span {
  display: inline-block;
  font-size: 18px;
  width: 30px;
  text-align: center;  
}
/* #checkbox:focus   
+ #checkbox-wrapper 
> span {
  @apply outline outline-offset-2 outline-2;
} */

@keyframes setting {
  to {
    transform: translateX(100px);
  }
}

h2,
h3,
h4,
h5 {
  @apply 
    text-zinc-700
    dark:text-zinc-100
}

h1,
.h1 {
  @apply 
    text-5xl
    font-black
    text-indigo-500
    dark:text-indigo-400
}

.blog-post header h1 {
  @apply   
    text-5xl        
    mb-4  
    text-zinc-500      
    dark:text-zinc-100    
}

.blog-post section
  h2, 
  h3, 
  h4, 
  h5 {  
    @apply 
    text-zinc-600 
    dark:text-zinc-300 
    font-bold 
    font-serif
    mt-0
    mb-3   
  }
  
  .blog-post section h2 {
    @apply text-3xl 
    text-zinc-500 
    dark:text-zinc-400 
}
.blog-post section h3 {
  @apply text-xl
}
.blog-post section h4 {
  @apply text-lg
}

.blog-post section p {
  @apply text-lg
   text-zinc-600
   dark:text-zinc-300
   mb-5 
   font-medium 
   font-serif
}

.blog-post section ol,
.blog-post section ul {
  @apply 
  list-disc 
  pl-7 
  mb-4 
  text-zinc-600 
  marker:text-indigo-600
  dark:text-zinc-300
  dark:marker:text-indigo-400
}

.blog-post section ol {
  @apply list-decimal;
}

.blog-post section li {
  @apply mb-2;
}

.blog-post section a {
  @apply 
    text-indigo-600 
    dark:text-indigo-400 
    underline 
    underline-offset-2
}


.blog-post pre {
  @apply rounded
}
